.contact {
  background-color: $color-primary;
  grid-row: 5 / -1;
  grid-column: col-start 1 / col-end 2;
  padding-left: 3rem;
  padding-bottom: 7rem;

  border: none;
  border-radius: 50px;

  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  grid-template-columns: minmax(min-content, max-content);

  // grid-row-gap: 5rem;
  justify-content: center;

  &__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    color: $color-grey-light-1;
    text-decoration: none;
  }

  a {
    max-height: 2.5rem;
    max-width: 100%;
    transition: all 0.2s;
  }

  a:hover {
    transform: translateY(-3px);
  }

  svg {
    fill: $color-grey-light-1;
  }

  .heading-2 {
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;
    color: $color-grey-light-1;
  }

  &__text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.7rem;
    color: $color-gray-dark-1;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    padding-right: 3rem;
    align-items: center;
  }
}

.svg-icon {
  margin-bottom: 3rem;
}
