.features__right {
  background-color: $color-primary;
  color: $color-grey-light-1;
  grid-column: col-end 3 / -1;

  border: none;
  border-radius: 50px;
  margin-top: 1rem;
  padding: 2rem 5rem 0 5rem;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;

  .heading-2 {
    font-size: 3.5rem;
    margin-top: 5rem;
  }

  .text {
    margin-top: 3rem;
  }

  .email-btn {
    justify-self: center;
  }
}
