.footer {
  background-color: $color-primary;
  grid-row: 7 / -1;
  grid-column: col-start 1/ -1;
  margin-bottom: 3rem;

  padding: 2rem 0 3rem 0;
  border: none;
  border-radius: 50px;

  display: grid;
  grid-template-rows: 1fr 1fr;

  .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-around;
    align-items: center;

    &__link:link,
    &__link:visited {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      font-family: $font-display;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      border-radius: 50px;
      transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }

  .copyright {
    font-size: 1.6rem;
    color: $color-grey-light-1;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;

    .owner {
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-blue-1;
    }

    .owner:hover {
      color: $color-blue-2;
      scale: 1.2;
    }
  }
}
