.header {
  background-color: $color-primary;
  grid-column: col-start 1 / col-end 2;

  padding: 8rem;
  padding-top: 7rem;
  padding-bottom: 7rem;

  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  grid-template-columns: minmax(min-content, max-content);

  grid-row-gap: 5rem;
  justify-content: center;

  border: none;
  border-radius: 50px;

  // @media only screen and (max-width: $bp-medium) {
  //   grid-column: 1/-1;
  // }

  // @media only screen and (max-width: $bp-small) {
  //   padding: 5rem;
  // }

  // &__seenon-text {
  //   display: grid;
  //   grid-template-columns: 1fr max-content 1fr;
  //   grid-column-gap: 1.5rem;
  //   align-items: center;

  //   font-size: 1.6rem;
  //   color: $color-primary-dark;

  //   &::before,
  //   &::after {
  //     content: '';
  //     height: 1px;
  //     display: block;
  //     background-color: currentColor;
  //   }
  // }

  &__img {
    width: 100px;
    border-radius: 50%;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    color: $color-grey-light-1;
    text-decoration: none;

    a {
      max-height: 2.5rem;
      max-width: 100%;
      transition: all 0.2s;
    }

    a:hover {
      transform: translateY(-3px);
    }

    svg {
      fill: $color-grey-light-1;
    }
  }
}
