.sideimg {
  background-color: $color-primary;
  grid-column: col-start 3 / -1;
  background-image: url(../img/img-1.jpeg);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50px;

  // @media only screen and (max-width: $bp-medium) {
  //   grid-column: 1/-1;
  // }
}
